@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-family: 'Roboto Slab', serif;
}

#sub {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

#top {
  position: absolute;
  padding-left: 50px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  z-index: 21;
}

#top-bg {
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  z-index: 20;
}

#bottom {
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 300px;
  background: rgba(209,0,0, 0.8);
  font-size: 13px;
  color: rgba(0, 0, 255, 100);
  z-index: 20;
}